:root {
    --clr-neutral-200: hsl(208, 22%, 80%);
    --clr-neutral-300: hsl(0, 0%, 85%);
    --clr-neutral-400: hsl(222, 8%, 72%);
    --clr-neutral-500: hsl(222, 14%, 54%);
    --clr-neutral-600: hsl(228, 12%, 44%);
    --clr-neutral-700: hsl(0, 0%, 25%);
    --clr-neutral-800: hsl(0, 0%, 18%);
    --clr-neutral-900: hsl(222, 4%, 17%);

    --clr-accent-yellow: hsl(30, 100%, 60%);

    --ff-serif: "Noto Serif", serif;
    /*--ff-sans: "Roboto", sans-serif;*/
    /*--ff-mono: "Fira Code", monospace;*/

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 600;

    --fs-extra-small: 0.6rem;
    --fs-small: 0.75rem;
    --fs-regular: 1rem;
    --fs-large: 1.25rem;
    --fs-extra-large: 1.75rem;

    --fs-title: 1.6rem;
    --fs-title-large: 1.8rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

body {
    /*--main-container-maxw: calc((380px * 3) + 4rem);*/
    --main-container-maxw: 380px;

    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-200);
    font-family: var(--ff-serif);
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    line-height: 1.4;
    padding-bottom: 4rem;
}

a {
    color: var(--clr-neutral-200);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

img {
    max-width: 100%;
    display: block;
}

.main-header, .fem-header {
    margin-inline: auto;
    width: min(100% - 2rem, var(--main-container-maxw));
    padding: 1.8rem 0 1.2rem;
}

.main-title {
    font-size: var(--fs-title-large);
    font-weight: var(--fw-regular);
    font-weight: 300;
}

.main-title strong {
    margin-top: 0.6rem;
    font-weight: 600;
    display: block;
}

.fem-title {
    font-size: var(--fs-title);
    font-weight: var(--fw-regular);
}

.project-cards {
    --card-maxw: 380px;
    --border-radius: 0.8rem;
    --border-width: 2px;
    --cards-gap: 2rem;

    margin-inline: auto;
    width: min(100% - 2.4rem, var(--main-container-maxw));

    display: grid;
    justify-content: center;
    gap: var(--cards-gap);
}

.project-card {
    max-width: var(--card-maxw);
    border-radius: calc(var(--border-radius) + 8px);
    border: var(--border-width) solid var(--clr-neutral-600);
    border-top: 0;
    background-color: var(--clr-neutral-900);
}

.project-card img {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    max-width: calc(100% + (var(--border-width) * 2));
    position: relative;
    left: calc(-1 * var(--border-width));
}

.project-content {
    padding: 1.2rem;
    color: var(--clr-neutral-500);

    display: grid;
    gap: 1rem;
}

.project-link {
    --transition-time: 0.4s;

    justify-self: start;

    font-weight: var(--fw-bold);
    font-size: var(--fs-large);
    color: var(--clr-neutral-400);
    text-decoration: none; /* Replaced for the after elem */
    position: relative;
    transition: color var(--transition-time) ease;

    margin-bottom: 0.2rem;
}

.project-link::after {
    content: "";
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: var(--clr-neutral-400);
    height: 3px;
    width: 100%;
    transition: background-color var(--transition-time) ease;
}

.project-link:hover {
    color: var(--clr-accent-yellow);
}

.project-link:hover::after {
    background-color: var(--clr-accent-yellow);
}

.project-rank {
    color: var(--clr-neutral-600);
}

/*
    card-minw = 320px
    cards-gap = 2rem
 */
@media (min-width: calc((320px * 2) + 2rem)) {
    body {
        --main-container-maxw: calc((380px * 2) + 2rem);
    }

    .main-title strong {
        display: inline;
    }

    .project-cards {
        /* 2 columns */
        max-width: calc((var(--card-maxw) * 2) + var(--cards-gap));
        grid-template-columns: 1fr 1fr;
    }
}

/*
    card-minw = 320px
    cards-gap = 2rem
 */
@media (min-width: calc((320px * 3) + 4rem)) {
    body {
        --main-container-maxw: calc((380px * 3) + 4rem);
    }

    .project-cards {
        /* 3 columns */
        max-width: calc((var(--card-maxw) * 3) + (var(--cards-gap) * 2));
        grid-template-columns: repeat(3, 1fr);
    }
}
