/*
    # Front-end Style Guide

    ## Layout

    The designs were created to the following widths:

    - Mobile: 375px
    - Desktop: 1440px

    ## Colors

    ### Primary

    - Orange: hsl(26, 100%, 55%)
    - Pale orange: hsl(25, 100%, 94%)

    ### Neutral

    - Very dark blue: hsl(220, 13%, 13%)
    - Dark grayish blue: hsl(219, 9%, 45%)
    - Grayish blue: hsl(220, 14%, 75%)
    - Light grayish blue: hsl(223, 64%, 98%)
    - White: hsl(0, 0%, 100%)
    - Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)

    ## Typography

    ### Body Copy

    - Font size (paragraph): 16px

    ### Font

    - Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
    - Weights: 400, 700
*/

:root {
    --ff-base: "Kumbh Sans", sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-bolder: 900;

    --fs-extra-smaller: 0.65rem;
    --fs-smaller: clamp(0.75rem, 8vw, 0.85rem);
    --fs-small: 0.95rem;
    --fs-base: 1rem; /* 16px */
    --fs-large: 1.65rem;
    --fs-larger: 1.85rem;

    --fs-title: clamp(1.65rem, 8vw, 2.6rem);

    --clr-primary-600: hsl(26, 100%, 55%);
    --clr-primary-200: hsl(25, 100%, 86%);

    --clr-neutral-000: hsl(0, 0%, 100%);
    --clr-neutral-100: hsl(223, 64%, 98%);
    --clr-neutral-200: hsl(220, 14%, 89%);
    --clr-neutral-300: hsl(220, 14%, 75%);
    --clr-neutral-500: hsl(219, 9%, 45%);
    --clr-neutral-700: hsl(220, 13%, 13%);
    --clr-neutral-999: hsl(0, 0%, 0%);

    --clr-lightbox-bg: hsla(0, 0%, 0%, 0.75);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* From goggle fonts */
    font-family: var(--ff-base);
    font-optical-sizing: auto;
    font-weight: var(--fw-regular);
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

body {
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-500);
    background-color: var(--clr-neutral-000);
    line-height: 1.4;
    max-width: 1110px;
    margin-inline: auto;

    /* Layout: header - main - footer */
    display: grid;
    grid-template-rows: auto 1fr auto;
}

img {
    display: block;
    max-width: 100%;
}

p {
    max-width: 56ch;
    line-height: 1.6;
}

strong {
    font-weight: var(--fw-bold);
}

.visually-hidden {
    height: 1px;
    width: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.btn {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-000);
    fill: var(--clr-neutral-000);
    padding: 1rem 2rem;
    font-weight: var(--fw-bold);
    font-size: var(--fs-regular);
    border: 0;
    border-radius: 0.6rem;
}

.btn-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn-with-icon span {
    font-weight: var(--fw-bold);
}

.btn-icon {
    border: 0;
    background: none;
}

.btn-primary {
    background-color: var(--clr-primary-600);
    color: var(--clr-neutral-700);
    fill: var(--clr-neutral-700);
    box-shadow: 0rem 1.0rem 2.5rem var(--clr-primary-200);
}

/* Navbar */

.navbar {
    --mobile-navw: 250px;

    padding: 1.375rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.navbar__start {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.navbar__menu-icon {
    padding: 0.3rem;
}

.navbar__links a {
    color: var(--clr-neutral-700);
    font-weight: var(--fw-bold);
    text-decoration: none;
}

.navbar__menu-open,
.navbar__menu-close {
    display: none;
}

.navbar__nav ul {
    list-style: none;
}

/* Navbar End / Right */
.navbar__end {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.navbar__cart {
    --cart-amount: "3";
    height: 22px;
    position: relative;
}

.navbar__cart-counter {
    position: absolute;
    top: -0.4rem;
    right: -0.5rem;
    background-color: var(--clr-primary-600);
    color: var(--clr-neutral-100);
    padding: 0.2rem 0.45rem 0.075rem;
    border-radius: 0.8rem;
    font-size: var(--fs-extra-smaller);
    font-weight: var(--fw-bold);
    display: none;
}

.navbar__cart.has-items::after {
    display: block;
}

.navbar__avatar {
    height: clamp(26px, 5vw, 52px);
}

/* Media for removing stuff from default styles to make desktop easier */
@media (max-width: 765px) /* 768 - 1 to avoid conflicts */
{
    .navbar__nav {
        display: none;
        position: fixed;
        inset: 0 auto 0 0;
        background-color: var(--clr-neutral-000);
        width: var(--mobile-navw);
        padding: 1.5rem;
        z-index: 999;
    }

    .navbar__nav::after {
        content: "";
        position: absolute;
        background-color: var(--clr-lightbox-bg);
        width: calc(100vw - var(--mobile-navw));
        height: 100%;
        left: 100%;
        top: 0;
        z-index: 999;
    }

    .navbar__nav ul {
        display: grid;
        gap: 1.2rem;
        margin-top: 2.5rem;
    }

    .navbar__menu-open,
    .navbar__menu-close {
        display: block;
    }

    /* Open navigation when add .menu-open */
    .menu-open .navbar__nav {
        display: block;
    }
}

@media (min-width: 768px)
{
    .navbar {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 3.5rem;
        align-items: center;
    }

    .navbar__nav ul {
        display: flex;
        gap: 2rem;
        padding-top: 0.5rem;
    }

    .navbar__nav a {
        color: var(--clr-neutral-500);
        font-weight: var(--fw-regular);
    }

    .navbar__end {
        gap: 3rem;
    }
}

/* Product Card */

.product__content {
    padding: 1.5rem;
    display: grid;
    gap: 0.9rem;
}

.product__seller {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    font-size: var(--fs-smaller);
    letter-spacing: 0.15ch;
    word-spacing: 0.4ch;
}

.product__name {
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-700);
}

.product__description {
    font-size: var(--fs-small);
}

.product__prices {
    display: flex;
    align-items: center;
}

.product__prices span {
    font-weight: var(--fw-bold);
}

.product__prices div:has(.product__price-primary) {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.product__price-primary {
    font-size: var(--fs-larger);
    color: var(--clr-neutral-700);
}

.product__price-discount {
    font-size: var(--fs-regular);
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-000);
    line-height: 1;
    padding: 0.45rem 0.5rem 0.3rem 0.6rem;
    border-radius: 0.3rem;
}

.product__prices div:has(.product__price-secondary) {
    flex: 1;
    text-align: right;
}

.product__price-secondary {
    text-decoration: line-through;
}

.product__quantity-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 1.8rem;
}

.product__quantity-controls img {
    width: 11px;
}

.product__quantity-controls span {
    font-size: var(--fs-regular);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-700);
}

.product__form-footer {
    display: grid;
    gap: 1rem;
}
/* Product Slider */

.product-slider {
    --sliderh: 300px;
    position: relative;
    height: var(--sliderh);
    overflow: hidden;
}

.product-slider__list {
    position: relative;
    top: -1.0rem;
    display: flex;
    overflow: auto;
}

.product-slider__list img {
    width: 100vw;
}

.product-slider__next,
.product-slider__prev {
    --iconh: 17px;
    --side-pad: 0.7rem;
    --icon-pad: 0.1rem;
    position: absolute;
    top: calc(50% - (var(--iconh) / 2) - 1.5rem);
    border-radius: 100%;
    border: 1px solid var(--clr-neutral-300);
    padding: 0.8rem 0.9rem;
    aspect-ratio: 1;
    background-color: var(--clr-neutral-000);
}

.product-slider__next {
    right: var(--side-pad);
}

.product-slider__prev {
    left: var(--side-pad);
}

.product-slider__next img,
.product-slider__prev img {
    height: var(--iconh);
    position: relative;
}

.product-slider__next img {
    left: var(--icon-pad);
}

.product-slider__prev img {
    right: var(--icon-pad);
}

/* Cart modal */

.cart__modal {
    --pad: 0.4rem;
    --space: 1.4rem;
    position: absolute;
    top: 4.9rem;
    left: var(--pad);
    width: calc(100vw - (2 * var(--pad)));
    background-color: var(--clr-neutral-000);
    border-radius: 0.5rem;
    min-height: 255px;
    box-shadow: 0rem 1rem 3.4rem 0.8rem #ccc;

    display: none;
}

.cart-open .cart__modal {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.cart__title {
    color: var(--clr-neutral-700);
    font-size: var(--fs-regular);
    font-weight: var(--fw-bold);
    padding: var(--space);
}

.cart__modal hr {
    background-color: var(--clr-neutral-200);
    height: 1px;
    border: 0;
}

.cart__content {
    font-weight: var(--fw-bold);
    padding: var(--space);

    display: grid;
    place-content: center;
    gap: var(--space);
}

/* Cart Items */

.cart__list {
    list-style: none;

    display: grid;
    gap: var(--space);
}

.cart__item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.cart__item-img {
    height: 50px;
    border-radius: 0.3rem;
}

.cart__item-center {
    flex: 1;
    font-size: 1.1rem;
}

.cart__item-name {
    font-size: 1.0rem;
}

.cart__item strong {
    color: var(--clr-neutral-700);
}

.cart__delete-icon {
    height: 18px;
}

.cart__checkout {
    box-shadow: none;
}

/* Product Gallery */

.product-gallery {
    --gallery-w: 445px;
    --preview-w: 93px;
}

.product-gallery__wrapper {
    width: var(--gallery-w);
    margin-inline: auto;
}

.product-gallery__focus {
    margin-bottom: 2rem;
    border-radius: 0.9rem;
}

.product-gallery__list {
    display: flex;
    /* Gap for 4 preview images */
    gap: calc((var(--gallery-w) - (4 * var(--preview-w))) / 3);
}

.product-gallery__img-wrapper {
    position: relative;
    border-radius: 0.9rem;
}

.product-gallery__img-wrapper.active {
    border: 2px solid var(--clr-primary-600);
}

.product-gallery__img-wrapper.active::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    border-radius: 0.85rem;
    background-color: hsl(0, 0%, 100%, 0.7);
}

.product-gallery__img {
    height: var(--preview-w);
    border-radius: 0.6rem;
}

@media (max-width: 767px)
{
    .product-gallery {
        display: none;
    }
}

@media (min-width: 768px)
{
    :root {
        --fs-title: clamp(2.0rem, 4vw, 2.6rem);
    }

    main {
        width: min(calc(100% - 1rem), 1110px);
        margin-inline: auto;

        display: grid;
        align-items: center;
        grid-template-columns: 1fr 0.8fr;
        gap: clamp(0.5rem, 3vw, 4rem);
    }

    .product-slider {
        display: none;
    }

    /* Product Content / Form */

    .product__content {
        gap: 1.4rem;
    }

    .product__seller {
    }

    .product__name {
    }

    .product__description {
    }

    .product__prices {
        display: grid;
        gap: 0.8rem;
    }

    .product__prices div:has(.product__price-secondary) {
        text-align: left;
    }

    .product__add-product {
        box-shadow: none;
    }
}

@media (min-width: 950px)
{
    .product__form-footer {
        grid-template-columns: auto auto;
    }
}
