/*
    # Front-end Style Guide

    ## Layout

    - Mobile: 375px
    - Desktop: 1440px

    ## Colors

    ### Primary

    - Red: hsl(0, 78%, 62%)
    - Cyan: hsl(180, 62%, 55%)
    - Orange: hsl(34, 97%, 64%)
    - Blue: hsl(212, 86%, 64%)

    ### Neutral

    - Very Dark Blue: hsl(234, 12%, 34%)
    - Grayish Blue: hsl(229, 6%, 66%)
    - Very Light Gray: hsl(0, 0%, 98%)

    ## Typography

    ### Body Copy

    - Font size: 15px

    ### Fonts

    - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
    - Weights: 200, 400, 600
*/

:root {
    --clr-primary-red:    hsl(0,   78%, 62%);
    --clr-primary-cyan:   hsl(180, 62%, 55%);
    --clr-primary-orange: hsl(34,  97%, 64%);
    --clr-primary-blue:   hsl(212, 86%, 64%);

    --clr-neutral-000: hsl(0, 0%, 100%);
    --clr-neutral-100: hsl(0, 0%, 98%);
    --clr-neutral-400: hsl(229, 6%, 66%);
    --clr-neutral-700: hsl(234, 12%, 34%);

    --ff-base: "Poppins", sans-serif;

    --fs-small:   0.8125rem; /* 13px; */
    --fs-regular: 0.9375rem; /* 15px  */
    --fs-large:   1.188rem;  /* 19px; */
    --fs-larger:  1.5rem;    /* 24px; */

    --fw-light:   200;
    --fw-regular: 400;
    --fw-bold:    600;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

footer {
    margin-top: auto;
    padding: 0.4rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

p {
    max-width: 56ch;
    margin-block: 0.5em;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    font-family: var(--ff-base);
    color: var(--clr-neutral-400);
    line-height: 1.6;
    background-color: var(--clr-neutral-100);
}

main {
    margin-inline: auto;
    padding: 5rem 2rem;
}

.main-header {
    text-align: center;

    margin-bottom: 4rem;
    display: grid;
    gap: 0.4rem;
}

.main-header p {
    margin-inline: auto;
}

.main-header .title {
    color: var(--clr-neutral-700);
    font-size: var(--fs-larger);
    font-weight: var(--fw-light);
    line-height: 1.6;
}

.main-header__title b {
    font-weight: var(--fw-bold);
}

.cards {
    --cards-gap: 2rem;
    --card-maxw: 350px;

    max-width: var(--card-maxw);
    margin-inline: auto;

    display: grid;
    gap: var(--cards-gap);
}

.card {
    max-width: var(--card-maxw);
    padding: 1.75rem;
    background-color: var(--clr-neutral-000);
    border-radius: 7px;
    box-shadow: 0 8px 20px -5px #ccc;
    border-top: 4px solid var(--clr-neutral-000);
}

.card-title {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-700);
    line-height: 1.6;
}

.card p {
    font-size: var(--fs-small);
    margin-bottom: 2rem;
}

.card img {
    height: 60px;
    margin-left: auto;
}

.card-supervisor { border-color: var(--clr-primary-cyan); }
.card-team-builder { border-color: var(--clr-primary-red); }
.card-karma { border-color: var(--clr-primary-orange); }
.card-calculator { border-color: var(--clr-primary-blue); }

@media (min-width: 620px) {
    :root {
        --fs-larger: 2.25rem;
    }

    .main-header .title {
        line-height: 1.4;
    }

    .cards {
        max-width: calc((var(--card-maxw) * 2) + var(--cards-gap));
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 920px) {
    .cards {
        max-width: 1110px;

        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "....  two   ...."
            "one   two   four"
            "one   three four"
            "....  three ....";
    }

    .card-supervisor { grid-area: one; }
    .card-team-builder { grid-area: two; }
    .card-karma { grid-area: three; }
    .card-calculator { grid-area: four; }
}
