/*
    # Front-end Style Guide

    ## Layout

    The designs were created to the following widths:

    - Mobile: 375px
    - Desktop: 1440px

    > 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

    ## Colors

    ### Primary

    - Green 200 (lighter): hsl(148, 38%, 91%)
    - Green 600 (medium): hsl(169, 82%, 27%)
    - Red: hsl(0, 66%, 54%)

    ### Neutral

    - White: hsl(0, 0%, 100%)
    - Grey 500 (medium): hsl(186, 15%, 59%)
    - Grey 900 (darker): hsl(187, 24%, 22%)

    ## Typography

    ### Body Copy

    - Font size (labels): 16px

    ### Font

    - Family: [Karla](https://fonts.google.com/specimen/Karla)
    - Weights: 400, 700
*/

/*
    TODOS:

    [X] - Mobile: Style the radio and checkbox inputs
    [ ] - Desktop layout
    [ ] - Desktop: focus and active state
    [ ] - Desktop: hover state
    [ ] - Desktop/Mobile: error state
    [ ] - Desktop/Mobile: Success message

*/

:root {
    --clr-primary-green: hsl(169, 82%, 27%);
    --clr-primary-green-dark: hsl(171, 83%, 14%);
    --clr-primary-light-green: hsl(148, 38%, 91%);
    --clr-primary-red: hsl(0, 66%, 54%);

    --clr-neutral-000: hsl(0, 0%, 100%);
    --clr-neutral-100: hsl(150, 3%, 86%);
    --clr-neutral-400: hsl(160, 4%, 59%);
    --clr-neutral-500: hsl(186, 15%, 59%);
    --clr-neutral-900: hsl(187, 24%, 22%);

    --fs-regular: 1rem;

    --fs-200: 0.8125rem; /* 13px */
    --fs-300:  0.875rem; /* 14px */
    --fs-400:      1rem; /* 16px */
    --fs-500:  1.125rem; /* 18px */
    --fs-800:      2rem; /* 32px */

    --ff-base: "Karla", sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

image {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

p {
    max-width: 56ch;
    margin-block: 0.5em;
}

body {
    font-family: var(--ff-base);
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-900);
    line-height: 1.3;
    background-color: var(--clr-primary-light-green);
}

.form-wrapper {
    border-radius: 0.8rem;
    margin: 2rem auto;
    /*width: calc(100% - 2rem);*/
    width: min(735px, 100% - 2rem);
    padding: 1.6rem 1.5rem;
    background-color: var(--clr-neutral-000);
}

.form-title {
    font-size: var(--fs-800);

    margin-bottom: 2.0rem;
}

.contact-form {
    --border-radius: 0.4rem;

    display: grid;
    gap: 1.5rem;
}

label {
    display: block;
}

.label-required::after {
    content: " *";
    color: var(--clr-primary-green);
    font-size: var(--fs-500);
    line-height: 1;
}

/* Some elements dont inherit font on body by default */
input, textarea, button {
    font: inherit;
}

input[type="text"],
input[type="email"] {
    width: 100%;
}

input[type="text"]:hover, input[type="text"]:focus-visible,
input[type="email"]:hover, input[type="email"]:focus-visible,
textarea:hover, textarea:focus-visible {
    border-color: var(--clr-primary-green);
}

input[type="text"],
input[type="email"],
textarea {
    padding: 0.8em 1.2em;
    border-radius: var(--border-radius);
    border: 1px solid var(--clr-neutral-400);
}

.input-group {
    display: grid;
    gap: 0.4rem;
}

.radio-wrapper {
    margin-top: 0.6rem;

    display: grid;
    gap: 1.0rem;
}

.surrounded-label {
    padding: 0.8em 1.2em;
    border: 1px solid var(--clr-neutral-400);
    border-radius: var(--border-radius);
}

.surrounded-label:hover, .surrounded-label:focus-visible {
    border-color: var(--clr-primary-green);
}

.radio-input-group {
    display: flex;
    gap: 0.8rem;
}

.radio-input-group label {
    font-size: var(--fs-500);
}


.custom-radio {
    appearance: none;
    height: 20px;
    width: 20px;
    border: 2px solid var(--clr-neutral-400);
    border-radius: 100%;
}

.custom-radio:checked {
    border: 0;
}

/* Using an image to make a custom radio input */

.custom-radio:checked::before {
    content: url("./assets/images/icon-radio-selected.svg");
    /* To fix the outline */
    display: block;
    height: 20px;
    width: 20px;
}

/* Using ::before to make a custom radio input */

/*.custom-radio:checked {*/
/*    border-color: var(--clr-primary-green);*/
/*}*/
/**/
/*.custom-radio:checked::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    left: 2px;*/
/*    height: 14px;*/
/*    width: 14px;*/
/*    border-radius: 100%;*/
/*    background-color: var(--clr-primary-green);*/
/*}*/

.surrounded-label:has(input[type="radio"]:checked) {
    border-color: var(--clr-primary-green);
    background-color: var(--clr-primary-light-green);
}

.checkbox-group {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: max-content auto;
    align-items: center;
}

.custom-checkbox {
    appearance: none;
    height: 18px;
    width: 18px;
    border: 2px solid var(--clr-neutral-400);
}

.custom-checkbox:checked {
    border: 0;
}

/* Using an image to make a custom checkbox input */

.custom-checkbox:checked::before {
    content: url("./assets/images/icon-checkbox-check.svg");
    /* To fix the outline */
    display: block;
    height: 18px;
    width: 18px;
}

/* Using ::before to make a custom checkbox input */

/*.custom-checkbox:checked {*/
/*    border-color: var(--clr-primary-green);*/
/*}*/
/**/
/*.custom-checkbox:checked::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    left: 2px;*/
/*    height: 12px;*/
/*    width: 12px;*/
/*    background-color: var(--clr-primary-green);*/
/*}*/

button {
    padding: 1.2rem 1.6rem;
    border-radius: var(--border-radius);
    border: 0;
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-000);
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
}

.primary-button {
    background-color: var(--clr-primary-green);
    color: var(--clr-neutral-000);
}

.primary-button:hover,
.primary-button:focus-visible {
    background-color: var(--clr-primary-green-dark);
}

.error-message {
    display: none;
    color: var(--clr-primary-red);
    font-size: var(--fs-300);
}

/*@media (min-width: 376px)*/
/*{*/
/*    .form-wrapper {*/
/*        width: min(735px, 100% - 2rem);*/
/*        max-width: 735px;*/
/*    }*/
/*}*/

@media (min-width: 768px)
{
    .grid-md-2col {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .col-full {
        grid-column: span 2;
    }

    .col-half {}
}
