/*
    # Front-end Style Guide

    ## Layout

    The designs were created to the following widths:

    - Mobile: 375px
    - Desktop: 1440px

    ## Colors

    ### Neutral

    - Almost White: hsl(0, 0%, 98%)
    - Medium Gray: hsl(0, 0%, 41%)
    - Almost Black: hsl(0, 0%, 8%)

    ## Typography

    ### Body Copy

    - Font size (paragraph): 18px

    ### Font

    - Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
    - Weights: 500, 700
*/

:root {
    --clr-neutral-100: hsl(0, 0%, 98%);
    --clr-neutral-500: hsl(0, 0%, 41%);
    --clr-neutral-900: hsl(0, 0%, 8%);

    --fs-smaller: 0.875rem; /* 14px */
    --fs-small: 1.0rem;     /* 16px */
    --fs-regular: 1.125rem; /* 18px */
    --fs-title: 2.25rem;    /* 36px */

    --ff-base: "Epilogue", sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff-base);
}

body {
    min-height: 100vh;
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-500);
    background-color: var(--clr-neutral-100);
    line-height: 1.6;
}

picture, img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/* Navbar */

.navbar {
    padding: 1.4rem 2rem;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar__logo {
    position: relative;
    top: 3px;
}

.navbar .menu-toggler {
    display: none;
    padding: 0.4rem;
    border: 0;
    background: none;
}

.navbar__end {
    display: none;
}

/* Navbar Menu */

.navbar__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar__menu ul {
    list-style: none;
}

.navbar__menu li,
.navbar__menu a {
    font-size: var(--fs-small);
    color: var(--clr-neutral-500);
}

.navbar__menu a {
    text-decoration: none;
}

.navbar__menu .with-icon {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.navbar__menu .with-icon img {
    height: 20px;
    position: relative;
    top: -2px;
}

.navbar .menu-start,
.navbar .menu-end {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu-group {
    position: relative;
}

.subnav {
    display: none;
    position: absolute;
    width: max-content;
    top: calc(100% + 0.2rem);
    background-color: var(--clr-neutral-100);
    border-radius: 0.6rem;
    box-shadow: 0 0 2.5rem rgba(88 88 88 / 0.25);
    gap: 1rem;
    padding: 1.5rem ;
}

.subnav a {
    font-size: var(--fs-smaller);
}

.menu-start .menu-group:nth-child(1) .subnav {
    left: -25px;
}

.menu-start .menu-group:nth-child(2) .subnav {
    left: 15px;
}

.menu-parent {
    position: relative;
}

.menu-parent.open + .subnav {
    display: grid;
}

.menu-parent::after {
    content: url("./images/icon-arrow-down.svg");
    padding-left: 1rem;
}

.menu-parent.open::after {
    content: url("./images/icon-arrow-up.svg");
}

/* Navbar End */

.navbar .nav-highlight {
    border: 2px solid var(--clr-neutral-500);
    border-radius: 1.0rem;
    padding: 0.5rem 1.3rem 0.3rem;
}

/* Hero Section */

.hero__content {
    padding: 3rem 0.8rem;
    text-align: center;

    display: grid;
    gap: 1.7rem;
}

.hero__title {
    color: var(--clr-neutral-900);
    font-weight: var(--fw-bold);
    font-size: var(--fs-title);
    line-height: 1;
}

.hero p {
    font-size: var(--fs-small);
}

.hero__cta-link {
    display: inline-block;
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
    text-decoration: none;
    padding: 0.8rem 1.4rem 0.6rem;
    border-radius: 0.9rem;
}

/* Hero Client List */

.hero__clients {
    list-style: none;
    padding-top: 1.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__clients li:nth-child(1) img {
    width: 78px;
}

.hero__clients li:nth-child(2) img {
    height: 26px;
}

.hero__clients li:nth-child(3) img {
    width: 62px;
}

.hero__clients li:nth-child(4) img {
    width: 68px;
}

@media (max-width: 768px)
{
}

/*
    Max content 1363px
    hero maxw 1143px
 */
@media (min-width: 768px)
{
    :root {
        --fs-title: 5rem;
    }

    main {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .hero {
        width: min(100% - 2rem, 1142px);
        margin-inline: auto;

        display: grid;
        grid-template-areas: "content image";
        grid-template-columns: 1fr 0.8fr;
        align-items: center;
        gap: 8rem;
    }

    .hero picture {
        grid-area: image;
    }

    .hero__content {
        grid-area: content;
        text-align: left;
    }

    .hero__content p {
        max-width: 46ch;
    }

    .hero__clients {
        max-width: 480px;
    }

    .hero__clients li:nth-child(1) img {
        transform: scale(1.2);
    }

    .hero__clients li:nth-child(2) img {
        transform: scale(1.2);
    }

    .hero__clients li:nth-child(3) img {
        transform: scale(1.2);
    }

    .hero__clients li:nth-child(4) img {
        transform: scale(1.2);
    }
}
