/*
    # Front-end Style Guide

    ## Layout

    The designs were created to the following widths:

    - Mobile: 375px
    - Desktop: 1440px

    ## Colors

    ### Neutral

    - Almost White: hsl(0, 0%, 98%)
    - Medium Gray: hsl(0, 0%, 41%)
    - Almost Black: hsl(0, 0%, 8%)

    ## Typography

    ### Body Copy

    - Font size (paragraph): 18px

    ### Font

    - Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
    - Weights: 500, 700
*/

:root {
    --clr-neutral-100: hsl(0, 0%, 98%);
    --clr-neutral-500: hsl(0, 0%, 41%);
    --clr-neutral-900: hsl(0, 0%, 8%);

    --fs-regular: 1.125rem; /* 18px */

    --fs-400: 1.0rem;   /* 16px */
    --fs-500: 1.125rem; /* 18px */
    --fs-700: 2.25rem;  /* 36px */

    --ff-base: "Epilogue", sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff-base);
}

body {
    min-height: 100vh;
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-500);
    background-color: var(--clr-neutral-100);
    line-height: 1.6;
}

picture, img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.navbar {
    padding: 1.4rem 1rem;
    display: flex;
    justify-content: space-between;
}

.navbar__menu {
    display: none;
}

.navbar__close {
    display: none;
}

.hero__content {
    padding: 3rem 0.8rem;
    text-align: center;

    display: grid;
    gap: 1.7rem;
}

.hero__title {
    color: var(--clr-neutral-900);
    font-weight: var(--fw-bold);
    font-size: var(--fs-700);
    line-height: 1;
}

.hero p {
    font-size: var(--fs-400);
}

.hero__cta-link {
    display: inline-block;
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    text-decoration: none;
    padding: 0.8rem 1.4rem 0.6rem;
    border-radius: 0.9rem;
}

.hero__clients {
    list-style: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero__clients li:nth-child(1) img {
    width: 78px;
}

.hero__clients li:nth-child(2) img {
    height: 26px;
}

.hero__clients li:nth-child(3) img {
    width: 62px;
}

.hero__clients li:nth-child(4) img {
    width: 60px;
}
