/*
    ## Layout

    The designs were created to the following widths:

    - Mobile: 375px
    - Desktop: 1440px

    ## Colors

    ### Primary

    Moderate violet: hsl(263, 55%, 52%)
    Very dark grayish blue: hsl(217, 19%, 35%)
    Very dark blackish blue: hsl(219, 29%, 14%)
    White: hsl(0, 0%, 100%)

    ### Neutral

    Light gray: hsl(0, 0%, 81%)
    Light grayish blue: hsl(210, 46%, 95%)

    Note for text colors:

    1. "Verified Graduate" has the same color as the person's name with 50% opacity
    2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

    ## Typography

    ### Body Copy

    - Font size: 13px

    ### Font

    - Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed)
    - Weights: 500, 600
*/

:root {
    --primary-violet: hsl(263, 55%, 52%);
    --primary-gray: hsl(217, 19%, 35%);
    --primary-dark-gray: hsl(219, 29%, 14%);
    --primary-white: hsl(0, 0%, 100%);
    --primary-blue-gray: hsl(210, 50%, 40%);

    --overlay-light: hsla(0, 0%, 0%, 0.3);
    --overlay-dark: hsla(0, 0%, 100%, 0.3);

    --neutral-000: hsl(0, 0%, 100%);
    --neutral-200: hsl(210, 46%, 95%);
    --neutral-400: hsl(0, 0%, 81%);
    --neutral-900: hsl(0, 0%, 40%);

    --fs-regular: 0.8125rem;

    --fs-300: 0.6875rem; /* 11px */
    --fs-400: 0.8125rem; /* 13px */
    --fs-500: 1.125rem;  /* 18px */
    --fs-600: 1.1875rem; /* 19px */

    --ff-base: "Barlow Semi Condensed", sans-serif;

    --fw-regular: 500;
    --fw-bold: 600;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff-base); /* here instead of body to have no exceptions */
}

body {
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--neutral-900);
    line-height: 1.4;
    background-color: var(--neutral-200);
}

h1, h2, h3 {
    line-height: 1;
}

main {
    display: grid;
    min-height: 100vh;
}

/* Testimonial Cards */

.testimonial-cards {
    --cards-gap: 1.4rem;
    --cards-maxw: 450px;
    width: min(100% - (2 * var(--cards-gap)), var(--cards-maxw));
    margin: auto;
    padding: 4rem 0;

    display: grid;
    gap: var(--cards-gap);
}

.testimonial {
    padding: 1.8rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 1rem 3rem -0.5rem var(--neutral-400);

    display: grid;
    gap: 1.2rem;
}

.testimonial__header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.testimonial__avatar {
    height: 34px;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
}
.testimonial__rank {
    opacity: 0.5;
    font-size: var(--fs-300);
}

.testimonial__main {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    letter-spacing: 0.04em;
    line-height: 1.3;
}

.testimonial__secondary {
    opacity: 0.5;
    line-height: 1.5;
}

/* Testimonials Dark and Light */

.testimonial-dark {
    color: var(--neutral-000);
}

.testimonial-dark .testimonial__avatar {
    border-color: var(--overlay-dark);
}

.testimonial-light {
    color: var(--neutral-900);
}

.testimonial-light .testimonial__avatar {
    border-color: var(--overlay-light);
}

/* Testimonial Specific */

.testimonial-1 { background-color: var(--primary-violet);    }
.testimonial-2 { background-color: var(--primary-gray);      }
.testimonial-3 { background-color: var(--primary-white);     }
.testimonial-4 { background-color: var(--primary-dark-gray); }
.testimonial-5 { background-color: var(--primary-white);     }

/* Big Quotation */

.testimonial:nth-child(1) {
    position: relative;
}

.testimonial:nth-child(1)::before {
    content: url("./images/bg-pattern-quotation.svg");
    position: absolute;
    right: 1.4rem;
    top: 0.3rem;
}

.testimonial:nth-child(1) .testimonial__main {
    z-index: 1;
}

@media (min-width: 620px)
{
    .testimonial-1 { grid-area: a; }
    .testimonial-2 { grid-area: b; }
    .testimonial-3 { grid-area: c; }
    .testimonial-4 { grid-area: d; }
    .testimonial-5 { grid-area: e; }

    .testimonial-cards {
        --cards-maxw: 760px;
        grid-template-areas:
            "a a"
            "b c"
            "e d";
    }
}

@media (min-width: 1110px)
{
    .testimonial-cards {
        --cards-maxw: 1240px;
        grid-template-areas:
            "a a b e"
            "c d d e";
    }
}
